<div class="product-catalog">
    <h2>Catalogue de Produits</h2>
    <input
      type="text"
      placeholder="Rechercher un produit..."
      [(ngModel)]="searchQuery"
      (input)="filterProducts()"
    />
    <div class="products-grid">
      <div class="product-card" *ngFor="let product of filteredProducts">
        <img [src]="product.imageUrl" alt="Image de {{ product.name }}" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Catégorie: {{ product.category }}</p>
        <p>Prix: {{ product.price }} €</p>
      </div>
    </div>
  </div>
  